[submodule "nba_pistons_report"]
	path = nba_pistons_report
	url = https://herna309@dev.azure.com/herna309/NBA%20Items/_git/nba_pistons_report
[submodule "nba_pistons_databricks_env"]
	path = nba_pistons_databricks_env
	url = https://github.com/ahernandezjr/nba_pistons_databricks_env.git
[submodule "nba_pistons_azure_env"]
	path = nba_pistons_azure_env
	url = https://github.com/ahernandezjr/nba_pistons_azure_env.git
